// colors
$accentColor = #FF9076
$textColor = #333333
$borderColor = #191919
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #e4b958
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$yellow = #FFE98D
$beige = #eae7e1

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
